<!-- Service Start -->
<section class="section" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-dark">CONSTAT <span class="text-warning">DIAGNOSTIC</span></h3>
                    <p class="text-muted">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero pulvinar hendrerit id lorem.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-headphones service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Diagnostic 1</h5>
                    <p class="text-muted service-subtitle mb-4">Opportunités de collaboration entre les structures universitaires et le monde
                        socioprofessionnel insuffisamment exploité ou vulgarisé</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-tools service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Diagnostic 2</h5>
                    <p class="text-muted service-subtitle mb-4"> Beaucoup de collaborations entre les structures universitaires existent mais elles ne sont
                        pas bien vulgarisées ni bien organisées à l’échelle nationale.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-display1 service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Diagnostic 3</h5>
                    <p class="text-muted service-subtitle mb-4">Manque de départements de recherche-développement dans les entreprises</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-cup service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Diagnostic 4</h5>
                    <p class="text-muted service-subtitle mb-4">Complexité de certains problèmes de développement dont les solutions nécessiteraient
                        la synergie de plusieurs acteurs des structures universitaires et du monde
                        socioprofessionnel</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-light service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Diagnostic 5</h5>
                    <p class="text-muted service-subtitle mb-4">Pourcentage faible d’apprenants dans les STEM (élèves et étudiants) et manque de
                        ressources humaines qualifiées dans les STEM (ingénieurs, enseignants, chercheurs,experts)</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-graph1 service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Diagnostic 6</h5>
                    <p class="text-muted service-subtitle mb-4">Insuffisance notoire des fonds de financement et des structures de développement de la recherche et de l’innovation</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service End -->