<!-- Contact Us Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-dark">La <span class="text-warning"> METHODOLOGIE</span></h3>
                    <p class="text-muted">Diffuser régulièrement le concept du SRDAN auprès des structures de recherche, des
                        médias et du monde socioprofessionnel pour sensibiliser les acteurs à mener des
                        activités liées à la recherche, de façon autonome ou concerté durant les deux quinzaines
                        de mois d’Avril et de Novembre. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="contact-address">
                    <h4 class="text-muted mb-4">Pour la dernière quinzaine d’Avril</h4>
                    
                        <p class="text-muted f-15">Favoriser le développement des Fablabs,</p>
                        <p class="text-muted f-15">Vulgariser les STEM,</p>
                        <p class="text-muted f-15">Organiser des rencontres scientifiques pour la recherche,</p>
                        <p class="text-muted f-15">Organiser des Hackathon de recherche sur 10 jours sur des thèmes des
                            entreprises du domaine MITEC cofinancées par des partenaires et les entreprises
                            ayant soumis des projets de recherche ou d’ingénierie,</p>

                    
                </div>
                <!-- <div class="row">
                    <div class="col-md-6">
                        <div class="contact-address">
                            <h5 class="text-dark mb-3 f-16">Address - A</h5>
                            <p class="text-muted f-15">3165 Roosevelt Wilson Riverside, CA 92507</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-address">
                            <h5 class="text-dark mb-3 f-16">Address - B</h5>
                            <p class="text-muted f-15">1121 Bombardier Way Southfield, MI 48075</p>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="col-lg-6">
                <div class="">
                    <div class="contact-address">
                        <h4 class="text-muted mb-4">Pour la dernière quinzaine de Novembre</h4>
                        <p class="text-muted f-15">Valoriser les résultats des recherches des structures universitaires,</p>
                            <p class="text-muted f-15">Valoriser les projets innovants des étudiants,</p>
                            <p class="text-muted f-15">Vulgariser la recherche et l’innovation,</p>
                            <p class="text-muted f-15">Vulgariser la recherche et l’innovation,</p>
    
                        
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="contact-address">
                                <h5 class="text-dark mb-3 f-16">Address - A</h5>
                                <p class="text-muted f-15">3165 Roosevelt Wilson Riverside, CA 92507</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-address">
                                <h5 class="text-dark mb-3 f-16">Address - B</h5>
                                <p class="text-muted f-15">1121 Bombardier Way Southfield, MI 48075</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us End -->

<!-- Subscribe Start -->
<section class="section bg-light">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-dark">Thématiques du domaine  <span class="text-warning"> MITEC</span></h3>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-address">
                    <h4 class=" text-warning mb-4">Mathématiques et Applications</h4>
                    
                        <p class="text-muted f-15">Théorie des jeux, Théorie des graphes, Théorie du signal,</p>
                        <p class="text-muted f-15">Optimisation, Recherche opérationnelle, Analyse numérique,</p>
                        <p class="text-muted f-15">Probabilité et Statistiques, Sciences complexes,</p>
                        <p class="text-muted f-15">Algèbre calculatoire, Géométrie calculatoire,</p>

                    
                </div>
               
            </div>
            <div class="col-lg-4">
                <div class="contact-address">
                    <h4 class=" text-warning mb-4">Informatique et technologies émergentes</h4>
                    
                        <p class="text-muted f-15">Internet des objets, Réseaux et infrastructures,</p>
                        <p class="text-muted f-15">Cloud, Edge Computing et Applications,</p>
                        <p class="text-muted f-15">IA et Machine Learning,</p>
                        <p class="text-muted f-15">Big data et bases de données,</p>
                        <p class="text-muted f-15">Télécommunication 5G et Fibre optique,</p>
                        <p class="text-muted f-15">Web sémantique,</p>
                        <p class="text-muted f-15">Applications web, mobile et Devops,</p>
                       

                    
                </div>
               
            </div>

            <div class="col-lg-4">
                <div class="">
                    <div class="contact-address">
                        <h4 class="text-warning mb-4"> Cybersecurité</h4>
                        <p class="text-muted  f-15">Cryptographie post-quantique appliquée pour la sécurité,</p>
                            <p class="text-muted f-15"> Sécurité des logiciels, des systèmes, des architectures, des réseaux et des données,</p>
                            <p class="text-muted f-15">Sécurité/Insécurité des technologies de l'information émergentes (IoT, Cloud,
                                Blockchain, Big data, Intelligence artificielle),</p>
                            <p class="text-muted f-15">Sécurité/Insécurité des technologies de l'information émergentes (IoT, Cloud,
                                Blockchain, Big data, Intelligence artificielle),</p>
                            <p class="text-muted f-15">Sécurité des infrastructures critiques, Sécurité des systèmes embarquées et des
                                équipements matériels, sécurité physique,</p>
                            <p class="text-muted f-15">Forensic, Stéganographie, Authentification Biométrique et Sécurité Biométrique,</p>
                            <p class="text-muted f-15">Forensic, Stéganographie, Authentification Biométrique et Sécurité Biométrique,</p>
                          
                            
    
                        
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-5 mb-4">
                    <h6 class="text-muted font-weight-normal">Subscribe To Our Newsletter For New Content, <span class="d-block mt-2">Update And Giveaways!</span></h6>
                </div>
                <div class="text-center subscribe-form mt-4">
                    <form action="#">
                        <input type="text" placeholder="Your Email Address...">
                        <button type="submit" class="btn btn-warning">Subscribe</button>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
    
</section>
<!-- Subscribe End -->