<!-- Testimonial Start -->
<section class="section bg-light" id="clients">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="title text-center mb-5">
          <h3 class="font-weight-normal text-dark">
            OBJECTIFS <span class="text-warning">SPECIFIQUES</span>
          </h3>
          <!-- <p class="text-muted">
            Maecenas tempus tellus eget condimentum rhoncus sem quam semper
            libero pulvinar hendrerit id lorem.
          </p> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h3 class="font-weight-normal mt-3 line-height-1_4">
          Liste des objectifs
          <span class="font-weight-medium text-warning"
            >Diffusion du concept SRDAN
          </span>
        </h3>
        <div class="testi-border my-4"></div>
        <p class="text-muted">
          Installer progressivement et de façon pérenne dans l’espace
          publique-médiatique et auprès des acteurs, les deuxièmes quinzaines
          des mois d’Avril et de Novembre comme les quinzaines de la recherche
          et de l’innovation au Sénégal.
        </p>
      </div>
      <div class="col-lg-8 testi-carousel">
        <owl-carousel-o [options]="testimonialOptions">
          <ng-template carouselSlide>
            <div class="item">
              <div class="testi-content m-3 position-relative">
                <div class="testi-box p-4">
                  <h5 class="text-warning font-weight-normal mb-3 pt-3">
                    Motivation
                  </h5>
                  <p class=" position-relative mb-0 f-14">
                    <span class="f-20 mr-1">"</span> Encourager tous les collègues du domaine MITEC au Sénégal à développer
                    des partenariats avec le monde socioprofessionnel <span class="f-16">"</span>
                  </p>
                </div>
               
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <div class="testi-content m-3 position-relative">
                <div class="testi-box p-4">
                  <h5 class="text-warning font-weight-normal mb-3 pt-3">
                    Service à la communauté
                  </h5>
                  <p class=" position-relative mb-0 f-14">
                    <span class="f-20 mr-1">"</span>Renforcer, diversifier et vulgariser le service à la communauté
                    autour de la recherche et de l’innovation dans le domaine MITEC <span class="f-16">"</span>
                  </p>
                </div>
               
              </div>
            </div>
          </ng-template><ng-template carouselSlide>
            <div class="item">
              <div class="testi-content m-3 position-relative">
                <div class="testi-box p-4">
                  <h5 class="text-warning font-weight-normal mb-3 pt-3">
                    Hackathon de recherche  
                  </h5>
                  <p class=" position-relative mb-0 f-14">
                    <span class="f-20 mr-1">"</span> Faire résoudre par de jeunes chercheurs des problèmes
                    posés par le monde socioprofessionnel dans le domaine MITEC en terme de recherche
                    appliquée et d’ingénierie avancée <span class="f-16">"</span>
                  </p>
                </div>
               
              </div>
            </div>
          </ng-template><ng-template carouselSlide>
            <div class="item">
              <div class="testi-content m-3 position-relative">
                <div class="testi-box p-4">
                  <h5 class="text-warning font-weight-normal mb-3 pt-3">
                    FabLabs
                  </h5>
                  <p class=" position-relative mb-0 f-14">
                    <span class="f-20 mr-1">"</span>Favoriser la création et l’exploitation des FabLabs (laboratoire de conception
                    de solutions innovantes dans ou hors des structures universitaires) <span class="f-16">"</span>
                  </p>
                </div>
               
              </div>
            </div>
          </ng-template><ng-template carouselSlide>
            <div class="item">
              <div class="testi-content m-3 position-relative">
                <div class="testi-box p-4">
                  <h5 class="text-warning font-weight-normal mb-3 pt-3">
                    Recherche universitaire
                  </h5>
                  <p class=" position-relative mb-0 f-14">
                    <span class="f-20 mr-1">"</span>Valoriser et vulgariser les résultats de recherche des structures
                    universitaires <span class="f-16">"</span>
                  </p>
                </div>
               
              </div>
            </div>
          </ng-template><ng-template carouselSlide>
            <div class="item">
              <div class="testi-content m-3 position-relative">
                <div class="testi-box p-4">
                  <h5 class="text-warning font-weight-normal mb-3 pt-3">
                    Création d’emplois
                  </h5>
                  <p class=" position-relative mb-0 f-14">
                    <span class="f-20 mr-1">"</span>Offrir des opportunités d’emplois ou de création de startups aux
                    jeunes chercheurs <span class="f-16">"</span>
                  </p>
                </div>
               
              </div>
            </div>
          </ng-template><ng-template carouselSlide>
            <div class="item">
              <div class="testi-content m-3 position-relative">
                <div class="testi-box p-4">
                  <h5 class="text-warning font-weight-normal mb-3 pt-3">
                    Incubation
                  </h5>
                  <p class=" position-relative mb-0 f-14">
                    <span class="f-20 mr-1">"</span> Valoriser et vulgariser les projets innovants des étudiants <span class="f-16">"</span>
                  </p>
                </div>
               
              </div>
            </div>
          </ng-template><ng-template carouselSlide>
            <div class="item">
              <div class="testi-content m-3 position-relative">
                <div class="testi-box p-4">
                  <h5 class="text-warning font-weight-normal mb-3 pt-3">
                    Collaboration
                  </h5>
                  <p class=" position-relative mb-0 f-14">
                    <span class="f-20 mr-1">"</span>participer à tous les programmes développant des thématiques similaires
                    à SRDAN et tisser des partenariats avec les associations ASCII (pour l’informatique) et
                    SMS (pour les maths) <span class="f-16">"</span>
                  </p>
                </div>
               
              </div>
            </div>
          </ng-template><ng-template carouselSlide>
            <div class="item">
              <div class="testi-content m-3 position-relative">
                <div class="testi-box p-4">
                  <h5 class="text-warning font-weight-normal mb-3 pt-3">
                    Conférences
                  </h5>
                  <p class=" position-relative mb-0 f-14">
                    <span class="f-20 mr-1">"</span>Organiser des conférences, workshop et webinars sur des thématiques
                    lies au domaine MITEC <span class="f-16">"</span>
                  </p>
                </div>
               
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial End -->
