<!-- footer Start -->
<section class="footer">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="mb-4 ">

                    <div class="title text-center mb-5">
                        <h3 class="font-weight-normal text-dark">EQUIPE DE <span class="text-warning">PILOTAGE</span></h3>
                    </div>
                
            </div>
        </div>
    </div>
        <div class="row">
           
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="footer-list-title text-dark mb-3">Promoteurs du projet SRDAN</h6>
                        <ul class=" company-sub-menu">
                            <li class="text-muted">Prof Cheikh Sarr de l’Université Iba Der Thiam de Thies</li>
                            <li class="text-muted">Prof Djiby Sow de l’Université Cheikh Anta Diop de Dakar</li>
                            <li class="text-muted">Prof Mamadou Bousso de l’Université Iba Der Thiam de Thies</li>
                            
                           
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h6 class="footer-list-title text-dark mb-3">Collaborateurs potentiels</h6>
                        <ul class="list-unstyled company-sub-menu">
                            <li class="text-muted">Prof Oumar Niang de l’Ecole Polytechnique de Thies
                                </li>
                            <li class="text-muted">Prof Moussa Diallo de l’Ecole Supérieure Polytechnique de Dakar
                                </li>
                            <li class="text-muted"> Prf Abdu Ka Dingue de l’Université Gaston Berger de Saint Louis
                                </li>
                            <li class="text-muted"> Prof Abdoul Aziz Ciss de de l’Ecole Polytechnique de Thies
                               </li>
                            <li class="text-muted">  Prof Mountage Lam de l’Université Cheikh Anta Diop de Dakar
                               </li>
                            <li class="text-muted">  Prof Abdoul Diop de l’Université Gaston Berger de Saint Louis
                               </li>
                            <li class="text-muted">  Prof Ahmed Kora de l’Ecole Multinationale des Télécoms</li>
                           
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="text-center text-muted">
                    <p class="mb-0 f-15"> {{currentYear}} © Deoxa. Design by Abdou SECK</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer End -->