<!-- Features Start -->
<section class="section" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-dark">VOCABULAIRE <span class="text-warning">SRDEN</span></h3>
                    <p class="text-muted"><span class="text-warning">Domaine MITEC</span> Mathématiques, Informatique, Technologies Emergentes et Cybersecurite</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-5" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/img-1.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="features-box mt-5 mt-sm-0 mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-laptop-mac"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Acteurs</h5>
                    <p class="text-muted mb-3 f-15">- Les structures de recherche publiques et privées : Universités, Ecoles d’ingénieurs,
                        Centres de recherche, Division de recherche-développement des entreprises,</p>
                    <p class="text-muted mb-3 f-15">- Les structures de recherche publiques et privées : Universités, Ecoles d’ingénieurs,
                        Centres de recherche, Division de recherche-développement des entreprises,</p>
                    <a href="#" class="f-16 text-warning">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-6">
                <div class="features-box mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-account-group"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Jeunes chercheurs</h5>
                    <p class="text-muted mb-3 f-15">- Doctorants, Docteurs avec 5 ans d’ancienneté au plus,</p>
                    <p class="text-muted mb-3 f-15">- Etudiants de niveau Master 2 ou Ingénieurs ayant un très bon parcours, déjà affilié à une
                        équipe de recherche et aspirant à faire un doctorat</p>
                    <a href="#" class="f-16 text-warning">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 mt-5 mt-sm-0" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/img-2.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-5" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/img-3.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="features-box mt-5 mt-sm-0 mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-chart-bell-curve"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Encadreurs scientifiques</h5>
                    <p class="text-muted mb-3 f-15">- Chercheurs ou enseignants-chercheurs habilité à diriger des recherches par le CAMES ou un pays partenaire</p>
                    <p class="text-muted mb-3 f-15">- Chercheurs titulaires d’un doctorat avec une ancienneté de plus de cinq ans</p>
                    <p class="text-muted mb-3 f-15">- Responsables scientifiques et ou technologiques du monde socioprofessionnel</p>
                    <p class="text-muted mb-3 f-15">- Chercheurs dans les départements de recherche-développement des entreprises</p>
                    

                    <a href="#" class="f-16 text-warning">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features End -->

<!-- Counter Start -->
<section class="section counter-bg" style="background: url(assets/images/counter-bg-1.jpg) center center">
    <div class="bg-overlay op-75"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="text-center mb-5">
                    <h2 class="font-weight-normal text-white mb-2">Organisation Hackathon pour la recherche et l’innovation du MITEC</h2>
                    <!-- <h5 class="font-weight-normal text-white-70">More Than 1000+ Work Successfully</h5> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class=" mb-5">
                    <h5 class="font-weight-normal text-white-70 mb-2">1- Chercheurs dans les départements de recherche-développement des entreprises</h5>
                    <h5 class="font-weight-normal text-white-70 mb-2">2- Recueillir des projets de recherche appliquées et d’ingénierie avancée auprès du
                        monde socioprofessionnel et les faire valider par le comité de pilotage du
                        programme SRDAN</h5>
                    <h5 class="font-weight-normal text-white-70 mb-2">3- Mobiliser de jeunes chercheurs pour former des équipes mixtes et
                        pluridisciplinaires susceptibles de traiter les sujets retenus (3 à 5 membres par
                        équipe)
                      </h5>

                    <h5 class="font-weight-normal text-white-70 mb-2">4- Chercher des encadreurs scientifiques (un superviseur et un coach par équipe)
                      </h5>

                    <h5 class="font-weight-normal text-white-70 mb-2">5- Chercher des moyens auprès de partenaires et des structures ayant proposé les
                        projets à traiter pour l’organisation de l’évènement hackathon MITEC (Transport,
                        Hébergement, Restauration, Equipements de recherche, Perdiem pour les jeunes
                        chercheurs et les encadreurs scientifiques, Assurance, )
                        </h5>

                    <h5 class="font-weight-normal text-white-70 mb-2">6-Lancer et superviser le hackathon sur la base d’un protocole bien établi par
                        l’équipe de pilotage sur 10 jours (plusieurs sites situés dans des régions distinctes
                        pourraient être envisagés en cas d’un nombre important de sujets et de
                        participants)
                         </h5>

                    <h5 class="font-weight-normal text-white-70 mb-2">7- Présenter les résultats des recherches devant un jury composé des encadreurs,
                        de l’équipe de pilotage et éventuellement de membres extérieurs
                       </h5>
                    <h5 class="font-weight-normal text-white-70 mb-2">8- Remettre les résultats des recherches aux structures ayant proposés les sujets
                       </h5>
                       <h5 class="font-weight-normal text-white-70 mb-2">9- Discerner des prix
                    </h5>
                    <h5 class="font-weight-normal text-white-70 mb-2">10- Faire le bilan et établir un programme en perspective 

                    </h5>

                       
                       
                    
                    
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- Counter End -->